[2021-10-12 19:00] jpda opened #6 "'alg' is an optional field in the JWK spec, but it is required by this library"
Microsoft's identity platform uses the `kty` parameter for the encryption family, `alg` is omitted. `alg` is optional [per rfc7517](https://datatracker.ietf.org/doc/html/rfc7517#section-4), however this library seems to require it. Seems since the alg variable is already set to "RS256," and `kty` is in the `allJwkFields` array and required per spec, that removing `alg` from the required list may b

[2021-10-13 16:32] brtrvn opened #7 "Typo in README code examples?"
Looks like there may be a typo in the README for the API Gateway Lambda Authorizer examples. We're pulling the JWT token string out of the request as `accessToken` but then passing `jwt` to the verifier.

const **accessToken** = event.authorizationToken
...
const **accessToken** = event.headers["authorization"]
....
payload = await jwtVerifier.verify(**jwt**);

https://github.com/awslabs/aws-jwt-v

[2021-10-14 07:40] #7 closed

[2021-10-19 15:34] garretcharp opened #13 "does not work with auth0 because "aud" is an array of strings instead of a string"
Getting error: "JWT payload aud claim is not a string"

[2021-10-23 09:23] #13 closed, assigned to nobody

[2021-11-03 08:24] #6 closed

[2021-11-03 13:12] ottokruse commented on #6
Should work now for Microsoft JWTs too 🎉

Please let us know any and all feedback

[2021-11-03 15:02] ottokruse opened #23 "Actually support Node12 or update the docs to mention support for Node14 and above"
Running the lib on Node12 raises:

[code]

This is because this project's `tsconfig.json` extends from `"@tsconfig/node14/tsconfig.json"`.
To support Node12 it should of course be extended from `"@tsconfig/node12/tsconfig.json"`

[2021-11-04 02:08] cmatskas commented on #6
Tested it successfully and it’s all working as expected! Many thanks for your work on this!

[2021-11-09 10:14] rpawlaszek commented on #23
+1 for Node12

[2021-11-18 18:50] PaulAtST opened #24 "(Feature Request) Easy way to get content of expired token"
It would be great if there was a nicer way to get the payload of an expired token. Currently the only way I have found is by setting a long graceSeconds, and then checking the exp after.

What I am thinking is it would be nice to have a function that returns an object like this:

[code]

To give a bit more insigt to my use case, when a token is expired, I want the server to confirm the user should

[2021-11-22 08:23] ottokruse commented on #23
After a closer look we've seen we're already using a number of feature that were introduced in Node 13 (e.g. use a function as a destination in a `stream.pipeline`).
As Node12 is now in maintenance mode, and this being a new library, and new usage will probably be on Node 14+, it seems unwarranted to undertake effort to support Node12. Therefore we decided for Node14 to be the minimum, changed the

[2021-11-22 08:23] #23 closed

[2021-11-22 09:07] ottokruse commented on #24
Thanks for the feature request.

What is your pseudo code flow? We understand it like so now:

[code]

We'd like to fully understand your use case. Can you tell more about the secondary permission system and how your auth flow works?

Your proposal makes sense. We do wanna stick with throwing the Error though, to make it harder for users to misunderstand what is going on. Another (very well known)

[2021-11-22 23:08] PaulAtST commented on #24
Sure, here is sudo code with a bit more detail:

[code]

I like your idea of having an option to have the decoded payload in the error object, that would work well for my use case, and I can see how that can help prevent insecure implementations.

[2021-11-25 10:23] shelou opened #26 "CognitoJwtVerifier verify function error: Expected 4 arguments, but got 1"
**What are the steps to reproduce this issue?**

1.  npm i aws-jwt-verify
2.  import {CognitoJwtVerifier} from "aws-jwt-verify";
3. const verifier = CognitoJwtVerifier.create({
            userPoolId: userPoolId,
            tokenUse: "id",
            clientId: clientId,
        });
4. const payload = await verifier.verify(token)

**What happens?**
verify function gives an error:   TS2554: Expect

[2021-11-25 11:39] ottokruse commented on #26
Mmm, afraid you'll need at least TypeScript 4 :|

Work around is to run in JS (not in TS) or change the `import` to a `require` but you'll loose type checking then:

[code]

[2021-11-25 11:40] ottokruse commented on #26
Or upgrade to TypeScript 4 of course for a proper solution

[2021-11-25 11:51] ottokruse commented on #26
For consideration, it might be possible to support TypeScript 3 also, using this: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#version-selection-with-typesversions

We'll have to decide if the effort is worth the value.

[2021-11-25 12:56] shelou commented on #26
@ottokruse thank you so much! Upgrading typescript did the job

[2021-11-25 12:56] #26 closed

[2021-12-02 16:40] elorzafe commented on #24
@PaulAtST thanks for giving more details, I have one more question: why you need to tell the client the token is expired because that could be made locally as well.

Thanks again!

[2021-12-04 00:09] PaulAtST commented on #24
@elorzafe The taught was to make the REST API straight forwards to consume, by making the API explicit on why a request was rejected

For example:
Was the request missing credentials -> Client should login first
Was the access token expired -> Client should refresh before retrying the request
Was the user locked out by the secondary permission system -> Client should logout, and probably alert the

[2021-12-07 00:30] elorzafe commented on #24
@PaulAtST thanks for your response.

Is best security practice to not disclose information so attackers can benefit from that and potentially make a more specific attack (social engineering to a particular user) for example on the case you mention, if the token is expired but it has access to a specific resource. In case an expired token is compromised and an attacker tries to use it, then next ti

[2021-12-07 17:20] PaulAtST commented on #24
@elorzafe Good point. Would an attacker actually be able to gain much if the API always checks for an unexpired and valid token before ever checking for permissions? In the current design the API will always return a 401, before a 403, the only way a 403 would be returned is if the token is valid.

Going down the social engineering path, I could see it possibly worth never returning a 403. This wa

[2021-12-15 16:03] jnbooth opened #32 "Attempted import error: 'createPublicKey' is not exported from 'crypto'"
**What are the steps to reproduce this issue?**

    1. yarn add aws-jwt-verify

    2. import verify from 'aws-jwt-verify';

**What happens?**

    Failed to compile.

    ./node_modules/aws-jwt-verify/dist/esm/jwt-rsa.js

    Attempted import error: 'createPublicKey' is not exported from 'crypto' (imported as 'createPublicKey').

**What versions of software are you using?**

"node": 14

 "aws-jw

[2021-12-16 07:45] ottokruse commented on #32
Can't explain the issue so far, since [`crypto.createPublicKey`](https://nodejs.org/api/crypto.html#cryptocreatepublickeykey) has been around since Node 11.6.0.

It should work on Node14 and in fact we run our unit and integration tests on Node14 and all okay.

You're also using TypeScript? Which version? Should be at least 4. Also use a sufficiently high version of `@types/node` otherwise TypeScr

[2021-12-17 08:29] ottokruse commented on #24
Solution merged into main: #27
Will release to NPM shortly.
Let us know what you think @PaulAtST !

[2021-12-17 08:29] #24 closed

[2021-12-20 05:58] MartinJLee opened #35 "Issue with webpack"
We are using Webpack for deploy our backend using aws with serverless.
There is an issue during the compile.
[code]

The webpack config file is
[code]

[2021-12-20 08:00] ottokruse commented on #35
Hi @MartinJLee!

Looks like the same issue as #26

What is your TypeScript version? This library requires 4 minimum

[2021-12-20 22:47] MartinJLee commented on #35
Thank you @ottokruse
Yes, our TypeScript version is 3.7.5
We are also facing the following issue as well
https://github.com/webpack/webpack/issues/10227

I guess time to update those versions.

[2021-12-20 22:47] #35 closed

[2021-12-22 17:14] PaulAtST commented on #24
@ottokruse Thank you for the update! It's working well for me.

[2021-12-26 09:52] axelra82 opened #36 "Expected 2 arguments, but got 1.ts(2554)"
Getting `Expected 2 arguments, but got 1.ts(2554)` on `"aws-jwt-verify": "^2.0.0"`  and `"typescript": "^4.5.4"` (mentioning `props` with identical values as `CognitoJwtVerifier`) with the following:

[code]

Works as expected in version `1.0.3`.

[2021-12-27 09:34] ottokruse commented on #36
Hi @axelra82 . V2.0.0 has slightly stricter types, and one of the things it does using type checks, is ensure you've provided values for all fields that should have a value. I suspect this check triggers in your case now, and the reason is probably that your `clientId` is of type `string | undefined`, can you check that?

The way this works (supposed to) is as follows:

- If you've provided non-un

[2021-12-27 10:19] axelra82 commented on #36
@ottokruse Thank you for the speedy response... and clarification! <-- 😉  Didn't think to check the intellisense on the `verifier`.

Haven't had time to test it out in sandbox yet, but at least now it doesn't give any errors (so it looks good anyway) 👍

[code]

Regarding the side note... first, wether I knew it or not, thank you for pointing it out! 😄 For me (in case) and for anyone else looking a

[2021-12-27 10:39] OrHaiLevy commented on #23
Reporting that I still get the same error on node v14.18.1, v16.0.0, v16.13.1 (Macbook M1).

[2021-12-27 10:48] ottokruse commented on #36
Using ID token is fine, but do treat the token as untrusted until you've verified it, and verification must not use reference values (e.g. `userPoolId`, `clientId`) you derive from the token header or payload itself.

Because an attacker might send in a JWT that the attacker created with his/her own user pool (their `iss`). Even though the signature of those JWTs will be valid (for their pool), yo

[2021-12-27 14:24] axelra82 commented on #36
We are currently setting up a multi-tenant platform, and using APIs with proxy to route to different lambdas with path based actions. So environment variables in the lambda are not an option for us.

The API post requests are coming from a closed system (i.e. the user has to login). The end goal of using the `aws-jwt-verify` is to make sure that the request coming in is from a valid user in the us

[2021-12-27 15:53] ottokruse commented on #36
No problem!

Long story short, you must make sure that the `userPoolId` and `clientId` that you provide in the `CognitoJwtVerifier.create` call, are a `userPoolId` and `clientId` that you trust, i.e. one of your tenants. How do you ensure that?

[2021-12-27 17:05] axelra82 commented on #36
OK, great. It took a minute and we had internal discussions regarding this, but I think it's clear now why doing it this way would be insecure.

I guess one simple way to bypass this would be to:
Create an AWS account, create a user pool, web client and user in that account and then use the `idToken` from that. Then in the current implementation, I could call our API using the `idToken` created in

[2021-12-27 17:05] #36 closed

[2021-12-27 17:18] ottokruse commented on #36
That's it mate 👍
And note btw that you can use [multiple User Pool IDs](https://github.com/awslabs/aws-jwt-verify#trusting-multiple-user-pools) with this lib too.
Have fun building.

[2022-01-03 08:31] ottokruse commented on #32
Hi @jnbooth, any update from your side?

[2022-01-03 08:34] ottokruse commented on #23
Still getting that @OrHaiLevy ? Do you get the exact same error message mentioned in the 1st comment of this issue?

[2022-01-03 19:41] madskunker opened #38 "Package exports for '/node_modules/aws-jwt-verify' do not define a valid '.' target"
Error: Package exports for '/node_modules/aws-jwt-verify' do not define a valid '.' target
  at resolveExportsTarget (internal/modules/cjs/loader.js:460:13)
  at resolveExports (internal/modules/cjs/loader.js:393:16)
  at Function.Module._findPath (internal/modules/cjs/loader.js:492:20)
  at Function.Module._resolveFilename (internal/modules/cjs/loader.js:787:27)
  at Module.Hook._require.Module.r

[2022-01-03 20:46] ottokruse commented on #38
Would you be so kind to leave us some instructions on how to reproduce this issue?

A quick google on the error suggests `rm -rf node_modules` and subsequent `npm install` might help out, but you're using 100's of npms so you have probably tried that!

[2022-01-06 09:33] DennisMC opened #39 "TypeScript error "verifier.verify()" is expecting 4 parameters"
I am getting a typescript error trying to verify a JWT using the provided example for cognito.
here is my code:

[code]

The "verifier.verify(token)" is expecting 4 parameters but I am only providing it 1 as the example states, I am not sure how to proceed

[2022-01-06 10:01] ottokruse commented on #39
Hi @DennisMC . Are you on TypeScript 4 or higher? This might be a duplicate of #26

[2022-01-06 10:07] DennisMC commented on #39
I am using Typescript Version 4.5.4

[2022-01-06 10:15] DennisMC commented on #39
Okay, so i realized my local Typescript was 4.5.4 but my Node.Js typescript version was not, I have now upgraded, however now i get a Syntax error:  SyntaxError: Unexpected token '.'

I have had this error before but is was due to a typo, it seems not to be the case this time

[2022-01-06 10:16] DennisMC commented on #39
This is where the syntax error originates: https://github.com/awslabs/aws-jwt-verify/blob/67a660278706d02746e30c1f469e87052e2b7262/src/jwt-rsa.ts#L708

[2022-01-06 10:20] ottokruse commented on #39
That might be because of the optional chaining (`?`), which is supported only by NodeJS v14.0.0 and up.
What's your NodeJS version?

[2022-01-06 10:21] DennisMC commented on #39
It definitely is that then, my NodeJS version is 12

[2022-01-06 10:26] ottokruse commented on #39
Okay then, hope you can go to Node14, it is the minimum version we support (also for other reasons, see also #23 )

[2022-01-06 10:30] #39 closed

[2022-01-08 18:13] planktoon1 opened #40 "Module is not exporting typescript types"
The module is built with typescript but is not exporting any types which makes it hard to work within a typescript project.

Specifically, I want to use the verifier inside a class where I initialize it in the constructor of the class and assign it to a private member.
But I'm missing the `CognitoJwtVerifierSingleUserPool` type to be able to do it.

[code]

[2022-01-10 11:15] ottokruse commented on #40
HI @planktoon1,
Makes sense, think we should add some `export` statements to make that easier.
In the meantime here is a workaround:

[code]

[2022-01-13 12:19] ottokruse commented on #40
Solved by #42

[2022-01-13 12:19] #40 closed

[2022-01-13 12:20] leelalagudu commented on #38
@madskunker  , following up on the above inquiry, could you update when you can please?

[2022-01-13 12:20] leelalagudu commented on #32
@jnbooth , following up on the above inquiry, could you update when you can please?

[2022-01-13 19:57] andreifullview opened #45 "[BUG] TypeScript error "verifier.verify()" is expecting 4 parameters"
**Describe the bug**
The package breaks at build

**Versions**
Which version of `aws-jwt-verify` are you using? - aws-jwt-verify@2.1.0
Which version of Node.js are you using? (Should be at least 14) - 16
If using TypeScript, which version of TypeScript are you using? (Should be at least 4) - 4.5.4

**To Reproduce**
[code]

the error: `semantic error TS2554: Expected 4 arguments, but got 1.`

This

[2022-01-14 00:38] kenblair opened #46 "[Feature Request] Document how to use the generic RSA verifier with Cognito JWTs"
**Describe the bug**
[Documentation describes](https://github.com/awslabs/aws-jwt-verify#using-the-generic-jwt-rsa-verifier-for-cognito-jwts) using JwtRsaVerifier with Cognito like so:

[code]

It appears this will fail every single time because Cognito tokens have no `aud`. If we want to use Cognito with another IDP we have to either skip the audience check and introduce a vulnerability or implem

[2022-01-14 00:40] kenblair commented on #46
I would have expected the JwtRsaVerifier, when configured with a correct client_id, to verify the "audience" by checking the client_id for Cognito based issuers.

[2022-01-14 08:17] ottokruse commented on #46
Hi @kenblair

Great feedback.

The `JwtRsaVerifier` was intended to be 'generic', doesn't do any Cognito specific things (by design).

We need to think about this and form an opinion. We'll get back to you. Your feedback to us is clear, thank you.

Note btw this only concerns Cognito Access tokens, as they have a `client_id` instead of `aud`. ID-tokens are "normal" and would work with the generic

[2022-01-14 08:21] ottokruse commented on #45
So far we've only seen this error on TypeScript < 4

Can you tell more about what building the project actually entails in your case? You mean just run `npx tsc`? It does look like that uses a different TypeScript version in your setup than your intellisense uses.

Note that if you use `tsc` (instead of `npx tsc`) you are invoking global TypeScript install, maybe that's what's goes wrong?

[2022-01-14 08:27] andreifullview commented on #45
I'm building it with the latest version of tsdx (https://tsdx.io) - https://github.com/jaredpalmer/tsdx

[2022-01-14 16:29] kenblair commented on #46
I understand, thank you. If you decide not to change the behavior I suggest adding a note to that area of the README.

I didn't know that about Cognito tokens, thank you.

Obviously `payload.client_id !== '<client_id>'` is an easy check to write but it is awkward to fit in. There is already a `customJwtCheck` that is passed in to `verify` based on the `event` object injected into the handler funct

[2022-01-17 11:56] ottokruse commented on #46
Can you maybe share your code so we can fully understand what you want to do?

[2022-01-17 11:56] ottokruse commented on #38
Closing because of inactivity, feel free to open a new issue

[2022-01-17 11:56] #38 closed

[2022-01-17 11:57] ottokruse commented on #32
Closing because of inactivity, feel free to open a new issue

[2022-01-17 11:57] #32 closed

[2022-01-17 16:54] kenblair commented on #46
I cannot due to contractual obligations. Here's different code in a similar overall structure. Please feel free to suggest improvements. Thank you.

[code]

[2022-01-17 17:13] ottokruse commented on #46
Thanks.

So this is a Lambda behind API Gateway? How many routes are being a handled in this lambda, just one?

And do you have other (different) custom checks at verifier level?

[2022-01-20 08:08] ottokruse commented on #45
Any luck @andreifullview ?

[2022-01-21 16:57] kenblair commented on #46
Yes it is behind a gateway. There's something like 4-5 routes right now but that will change. There are not different checks at the verifier level. For the moment we're not checking audience because after review it is not necessary in our current setup.

[2022-01-22 23:20] jpbelang opened #47 "When using type CognitoJwtVerifierSingleUserPool, getting compile error: "Types have separate declarations of a private property 'jwksCache'""
**Describe the bug**
I wanted to declare a type for a verifier like this:
[code]
But compilation returns an error:
[code]
**Versions**
Which version of `aws-jwt-verify` are you using?
2.1.0

Which version of Node.js are you using? (Should be at least 14)
14.17.1

If using TypeScript, which version of TypeScript are you using? (Should be at least 4)
Version 4.5.5

**To Reproduce**
Just declaring a

[2022-01-22 23:27] jpbelang commented on #47
As an aside, `swc` compiles the code correctly.

[2022-01-24 08:08] ottokruse commented on #47
Thanks for taking the effort of reporting this issue and providing code to reproduce it!

Yeah that is weird and seems to be the issue, we'll dive in this.

For the time being, this works too:

[code]

[2022-01-24 09:22] #45 closed

[2022-01-26 08:56] ottokruse commented on #47
Fixed in v2.1.1

[2022-01-26 08:56] #47 closed

[2022-01-26 09:59] leelalagudu commented on #46
While this would mean the lib would slightly drift away from being a `generic JWT verifier`, since we already have an extended verifier built specifically for Cognito as part of lib, I agree that exporting `validateCognitoJwtFields` along with doc examples for validating Cognito ID and access tokens would be a good way forward

[2022-01-28 03:30] AlejandroMAL opened #50 "[QUESTION] Verify function throwing loader errors"
**Question**
How can we help you?

I am using Nodejs 16 with TS, each time I try to verify the token throws the following error:

[code]

This is my code:

[code]

I wonder if this is an error on the library or if it is related to the code implementation, hopefully, you can help. Thanks.

**Versions**
Which version of `aws-jwt-verify` are you using?
2.1.1

Which version of Node.js are you using? (

[2022-01-28 07:52] ottokruse commented on #50
Hi @AlejandroMAL
Seems to be a webpack related issue, it struggles with the optional chaining operator (the `?`), which has been around now for quite some time in JS.
Suggest to update webpack.
A quick google revealed this thread with a comment that might work for you, if you don't want to update webpack: https://github.com/webpack/webpack/issues/10227#issuecomment-950242155

Side note: you don't

[2022-01-28 20:00] AlejandroMAL commented on #50
Thank you so much! That solved the issue.

[2022-01-30 12:04] akorkot commented on #23
I changed the runtime of my lambda in my SAM Template from "nodejs12.x" to "nodejs14.x" and it works!

[2022-01-31 07:47] #50 closed

[2022-02-04 20:18] teuber789 opened #56 "[BUG] (Not a real bug) Thanks!"
Just wanted to say thanks for this slick little library! I spent a couple days wrestling with more popular JWT verification libraries, and had zero luck. I ran into tons of issues, like poor documentation, poor ES6 / Typescript support, and about every problem under the sun. I happened upon this library, and within an hour I had it up and working without any issues. It's a _dream_. Many thanks to

[2022-02-04 20:23] leelalagudu commented on #56
Hi @teuber789 , many thanks for your kind words. Both @ottokruse  and I appreciate your feedback. Do let us know if you find that there are any missing features/any bugs that you come across.

Thank you,
Leela & Otto.

[2022-02-04 20:23] #56 closed

[2022-02-28 08:18] hero9 commented on #50
@ottokruse I'm using latest version of webpack, but I still have these errors

[2022-03-03 12:36] ottokruse commented on #50
Please open a new issue @hero9 and provide the requested details for your specific case.

[2022-03-04 01:24] wzhonggo opened #59 "[QUESTION] Can not verify Refresh Token"
**Question**
Can not verify Refresh Token.

Error mesage : JwtParseError: JWT string does not consist of exactly 3 parts (header, payload, signature).

I want to get refresh token payload, but it decode error. The tokenUser has type **id** and **access**. Is this lib only support decode access token and id token.

Test code
[code]

**Versions**
Which version of `aws-jwt-verify` are you using?
2.1.

[2022-03-04 11:33] ottokruse commented on #59
Hi @wzhonggo !
Cognito Refresh Tokens are in fact encrypted JWTs and nobody can decode or verify them except the Cognito service itself.
The only way to know if a Cognito refresh token "is valid" is by actually using it against the Cognito APIs (e.g. by doing an [InitiateAuth with REFRESH_TOKEN_AUTH](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-the-refr

[2022-03-04 11:34] ottokruse commented on #59
What's your use case, that you'd want to verify a Cognito refresh token?

[2022-03-04 12:43] wzhonggo commented on #59
@ottokruse
I use Ampfliy js with 127.0.0.1 and a random port in browser with a desktop application.  I hope user can auto login in borwser after first time login. The Amplify js save refresh token, id token, access token and other in **localStorage**, but port will change after next time relaunch app, so the token which save in **localStorage** is lost, user need login again . Now I save the refre

[2022-03-04 12:43] #59 closed

[2022-03-11 00:09] neo-headz opened #61 "[BUG]"
**Describe the bug**
I'm trying to use this package to verify Cognito JWTs in a custom authorizer Lambda for an API Gateway websocket connect route. Seems simple and easy, however I keep getting an error.

Our frontend uses amazon-cognito-identity-js to log a user into Cognito. This returns the id, access, and refresh tokens. Following the docs under `Basic => Amazon Cognito`  the following error

[2022-03-11 00:57] #61 closed

[2022-03-11 00:58] neo-headz commented on #61
nevermind, I realized this is my mistake!! The error is not coming from this package 😁

[2022-03-11 09:56] ottokruse commented on #61
`jsonwebtoken` ... better switch to `aws-jwt-verify` ;)

Kidding, use whatever works well for you!

[2022-03-30 17:57] g-wozniak opened #66 "#node-web-compat missing upon execution"
**Question**
The library works as expected when testing with local Express server on localhost via HTTP. However, when attempting to use with `supertest` and `jest` and my app server simulator (no changes in server implementation) I am getting an error:

[code]

Tried to debug it, reinstall; checked and those modules are there. I am thinking might be something to do with `supertest` settings judgi

[2022-03-31 07:27] ottokruse commented on #66
Thanks for reporting this!

This is a bug (or at the very least a development opportunity) in jest.

I've logged it here, would appreciate your +1 : https://github.com/facebook/jest/issues/12619

A fix, or better said: a workaround, is documented here: https://github.com/ottokruse/jest-subpath-import

[2022-03-31 08:07] g-wozniak commented on #66
Thank you for the quick response. You're right. In my case the following mapping helped:

[code]
where `node-web-compat-node.js` would be for Node and `node-web-compat-web.js` for web projects.

Thank you for looking into it.

[2022-03-31 08:07] #66 closed

[2022-04-07 14:42] WtfJoke opened #67 "[BUG] Cannot find module '#node-web-compat' after upgrading from 2.1.3 to 3.0.0"
**Describe the bug**
After upgrading from aws-jwt-verify from 2.1.3 to 3.0.0 I receive following stacktrace when executing a sample jest test:
[code]

**Versions**
Which version of `aws-jwt-verify` are you using? 3.0.0
Are you using the library in Node.js or in the Web browser? Node.js
If Node.js, which version of Node.js are you using? (Should be at least 14) 14 / 17
If Web browser, which web bro

[2022-04-07 14:54] ottokruse commented on #67
This is an issue in Jest, see #66 on how to work around it.

Your +1 against the Jest issue would be appreciated, to (hopefully) get it prioritized: https://github.com/facebook/jest/issues/12270

[2022-04-07 20:36] WtfJoke commented on #67
Thanks for your fast response! I've gave the jest issue a thumbs up and going to try the solution with the moduleNameMapper.

[2022-04-07 20:36] #67 closed

[2022-04-19 06:03] reachmehere89 opened #68 "[QUESTION] Does this library support JWKS if kty value is not only RSA"
**Question**
Does this library support JWKS if kty value is not only RSA
My IDP provider have kty values **RSA** and **EC**. Library fails as it mandates **n** and **e** as mandatory parameters which are not there in case kty is **EC**

**Versions**
Which version of `aws-jwt-verify` are you using? Latest
Are you using the library in Node.js or in the Web browser? Node js
If Node.js, which version

[2022-04-19 06:36] ottokruse commented on #68
Hi @reachmehere89, thanks for the question.

Currently only RSA is supported (RS256, RS384, RS512) as you've found, however we'd be interested in expanding algorithm support.

Which provider is that? Can you share the JWKS?

[2022-04-20 02:49] reachmehere89 commented on #68
This is our company IDP and unfortunately I can't share it here(at least to be on safer side, though I can check if it can be shared). But my suggestion would be to only validate for jwks where kty is RSA only and ignore rest as other algorithms are not supported.

[2022-04-20 07:25] ottokruse commented on #68
Okay so IIUC you want to verify a RSA-signed JWT, but the public key is includes in a JWKS that includes non-RSA public keys (that do not have `n` and `e`).

You're right, currently this lib requires the entire JWKS, all JWKs in it, to have `n` and `e`.

https://github.com/awslabs/aws-jwt-verify/blob/6476a42d34a0992356a2c12600ab5cd5aa1b651d/src/jwk.ts#L25-L31
https://github.com/awslabs/aws-jwt-ver

[2022-04-20 08:11] reachmehere89 commented on #68
Thanks for the suggestion. Will give it a try and post how it goes

[2022-04-20 16:41] Robstaa opened #69 "[BUG] Error: Cannot find module '#node-web-compat'"
**Describe the bug**
When starting my typescript application, I immediately get the error
[code]

The stack is the following:
[code]

This is the `verifyToken.ts` file:
[code]

**Versions**
Which version of `aws-jwt-verify` are you using?
=> "^3.0.0"
Are you using the library in Node.js or in the Web browser?
=> Node.js
If Node.js, which version of Node.js are you using? (Should be at least 14)
=>

[2022-04-20 18:57] hakanson commented on #69
@Robstaa - did #66 solve your issue?  Can this bug be closed?

[2022-04-21 07:08] ottokruse commented on #69
Just ran (a slightly modified version of) your code with `ts-node-dev` and that works fine for me. What exact versions does your `[INFO]` log line reveal?

[code]

The modified version of your code (`index.ts`):

[code]

[code]

[2022-04-21 07:50] Robstaa commented on #69
Hi @ottokruse and @hakanson thanks for the quick reply!
Unfortunately I could not fix the issue yet, I am currently using https://github.com/ghdna/cognito-express but would like to replace that with `aws-jwt-verify`.

When I start the development env, this is the output:
[code]

The `tsconfig.json` looks like this:
[code]

[2022-05-04 17:58] shackbarth opened #71 "[QUESTION] AWS Support says this library cannot be used for Cognito within an ALB... is that true?"
**Question**
Having engaged AWS Support to deal with an "JWT string does not consist of exactly 3 parts (header, payload, signature)" error from this package, AWS Support responded, and I quote: because the ALB returned JWT token format includes a header, payload, and signature that are base64 URL encoded and includes padding characters at the end. The JWT signature is ECDSA + P-256 + SHA256, and

[2022-05-06 04:26] hakanson commented on #71
**Short answer:**  That is true as of now.

**Longer answer:** The current version of AWS JWT Verify can be used for "verifying JWTs signed by Amazon Cognito, and any OIDC-compatible IDP that signs JWTs with RS256 / RS384 / RS512." As you quote from the [User claims encoding and signature verification](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.

[2022-05-06 17:45] shackbarth commented on #71
Thanks for the clarification! My use case (using Cognito within an ALB listener rule) must be more obscure than I thought it was, for there to be so little discussion about it, but at least it's memorialized on this issue. What with the ALB repackaging the JWT, it's now clear to me that the work that I have to do on Fargate to verify the user claims basically has nothing at all to do with Cognito

[2022-05-06 17:45] #71 closed

[2022-05-09 15:50] eugenserbanescu opened #72 "[QUESTION] Why does the library fail to fetch the well known jwks file?"
**Question**
How can we help you?

The `.verify()` function fails to fetch `https://cognito-idp.{region}.amazonaws.com/{userPoolId}/.well-known/jwks.json` It times out after 1500 ms. (I removed the pool Id and the region on purpose from the url)
It's currently running in a lambda in a subnet and the security group has an open egress (so it can reach out anywhere)
The url works when I try and open

[2022-05-09 16:31] hakanson commented on #72
Can you try a test in that Lambda function to retrieve the URL directly?

The logic happens in [https-node.ts](https://github.com/awslabs/aws-jwt-verify/blob/main/src/https-node.ts#L30) and uses [https.request](https://nodejs.org/docs/latest-v14.x/api/https.html#https_https_request_url_options_callback) to make the call.  I am curious if using the library directly has the same issue.  It might als

[2022-05-10 08:17] eugenserbanescu commented on #72
I was on a chat with support as well and they suggested that it might be connectivity issues as well. I'll give it a try now and post my findings here :) thanks!

[2022-05-10 08:48] eugenserbanescu commented on #72
Must be something Lambda specific. It failed when I tried to fetch the `jwks` url from my function code using `fetch`. Also tried to fetch `https://google.com` unsuccessfully.

However I successfully made the call using `curl` from am EC2 instance in the same vpc & subnet. This suggest to me that it's a configuration issue with my lambda. :) I'll close the issue since it's unlikely to be related t

[2022-05-10 08:48] #72 closed

[2022-05-10 09:31] eugenserbanescu commented on #72
Just to confirm: It was a lambda specific issue indeed: Lambdas can not receive public IPs (even if the ENI is created in a public subnet) and therefore cannot reach out to the internet.

To connect to the internet from a lambda, it needs to be in a private subnet with a NAT in order to connect to the internet directly.

[2022-05-12 17:06] mtj8033 commented on #66
hitting this error when trying to use the library in react native, is there anyway to work around it?

[2022-05-13 21:00] hakanson commented on #66
@mtj8033 - what does react native use for a crypto library?  My google searching just finds things that are years old like https://github.com/imchintan/react-native-crypto-js and https://github.com/tradle/react-native-crypto as ways to shim in the node API.

Also, do you know if subpath imports work in react-native?

[2022-05-16 19:25] ottokruse commented on #66
Had a look into supporting React Native and made some progress with this metro config:

[code]

However, now I run into another issue, as React Native does not support [`TextDecoder`](https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder) which we use here: https://github.com/awslabs/aws-jwt-verify/blob/6476a42d34a0992356a2c12600ab5cd5aa1b651d/src/node-web-compat-web.ts#L89-L90

It would be

[2022-05-17 07:33] ottokruse commented on #66
For the record, after polyfilling `TextDecoder` I now run into `[TypeError: undefined is not an object (evaluating 'window.crypto.subtle')]` which brings us to @hakanson 's point: need to figure out which crypto backend to actually use in React Native.

[2022-05-17 15:42] ottokruse commented on #69
Any update @Robstaa ?

[2022-05-18 07:04] lemiesz commented on #69
I have a similar issue. Trying to bundle my function to be deployed as a edge lambda with

[code]

Getting the following error

[code]

[2022-05-18 08:48] ottokruse commented on #69
@lemiesz don't mark `#node-web-compat` as external module cause it isn't an external module.

When do you get that error?

Just tested and this CDK synths flawlessly for me:

[code]

[2022-05-18 17:40] mtj8033 commented on #66
Was able to get it working with the following metro.config.js file:

`/**
 * Metro configuration for React Native
 * https://github.com/facebook/react-native
 *
 * @format
 */
const rootDir = __dirname;
module.exports = {
  resolver: {
    extraNodeModules: {
      "#node-web-compat": `${rootDir}/node_modules/aws-jwt-verify/dist/cjs/node-web-compat-web.js`,
    },
  },
  transformer: {
    getTran

[2022-05-19 08:01] ottokruse commented on #66
@mtj8033 interestingly you point to `node-web-compat-web.js` in your `extraNodeModules` but if you also use `[node-libs-react-native](https://www.npmjs.com/package/node-libs-react-native)` then it might be better to point to `node-web-compat-node.js`.

The best solution might be to create a custom `compat-react-native.js`, that implements the [compat interface](https://github.com/awslabs/aws-jwt-v

[2022-05-19 08:08] ottokruse opened #73 "[DISCUSSION] Support React Native?"
This library does not (yet) work in React Native.

In #66 several users have mentioned their wish to use this library in React Native. One comment mentions a metro config that works, but as far as we're aware though, only in the emulator: [link](https://github.com/awslabs/aws-jwt-verify/issues/66#issuecomment-1130305822)

Should this library support React Native?

React Native users, please commen

[2022-05-19 08:09] ottokruse commented on #66
Please move any further React Native talk to #73
Thank you

[2022-05-19 08:12] ottokruse commented on #69
Closing for now -- will re-open if you can provide a reproducible sample.

[2022-05-19 08:12] #69 closed

[2022-05-19 08:21] lemiesz commented on #69
Error happens during bundling. However I see you are using CDK2.

I'm still on an old version (until I can upgrade the rest of our stack) `"monocdk": "1.145.0",`.

Downgrading to `2.1.3` allows me to use this without issue. However with version 3.0.0 It fails.

I've tried both with it marked as external (as per the error message recommendation), and without. Fails same way

[2022-05-19 08:29] ottokruse commented on #69
CDK2 uses `esbuild` for bundling, and `esbuild` has supported subpath imports since Oct 2021 (https://github.com/evanw/esbuild/issues/1691). Not sure what `monocdk` uses for bundling, maybe an older version of `esbuild`––you might try updating that.
Or don't bundle ...

[2022-05-19 09:14] lemiesz commented on #69
monocdk does indeed use esbuild.

Looks like I had installed `0.12.28`, but it wasnt until `0.13.13` that the subpath imports change was merged.

Upgrading to the a newer version of esbuild has fixed my issues... thanks!

[2022-05-23 07:46] ottokruse commented on #68
Fix is included in v3.1.0

[2022-05-23 07:46] #68 closed

[2022-05-23 07:47] ottokruse commented on #46
Done!

[2022-05-23 07:47] #46 closed

[2022-05-27 13:17] ottokruse commented on #72
@diegonc like so:

[code]

In your case I recommend to do either one of these too, at server start:

1. https://github.com/awslabs/aws-jwt-verify#explicitly-hydrating-the-jwks-cache
1. https://github.com/awslabs/aws-jwt-verify#loading-the-jwks-from-file

[2022-07-19 07:22] johnhartman opened #78 "Typo in README.md[BUG]"
In the README.md file, line 309, 'customJwtChecks' should be 'customJwtCheck'.

[2022-07-21 06:43] ottokruse commented on #78
Thanks! Also ... great opportunity to become a contributor to the repo :)

[2022-07-30 12:18] dakshamdev commented on #78
A good one indeed :)

[2022-08-01 07:08] ottokruse commented on #78
Thanks!

[2022-08-01 07:08] #78 closed

[2022-08-12 09:39] MastalerzKamil commented on #66
In my case I had a similar issue while unit testing and downgrading from `3.1.0`to  `2.1.3` helped. My app is in Next.js based. When I run an app, it works as expected in my api in Next.js however when it comes to unit testing the issue appears. I think, the issue should be reopened in order to let know that the problem exists

[2022-08-12 10:27] ottokruse commented on #66
I've just pinned this issue. But the ball is in Jest's court.

[2022-08-18 18:40] johnhartman commented on #78
Hey Otto—

Quick question for you: for the multiple verifier, what order does the
verification occur in? Serially in order of the array declaration? Parallel
via Promise<result>?

best,
John
510.206.5846 (mobile)

On Wed, Jul 20, 2022 at 11:43 PM Otto Kruse ***@***.***>
wrote:

[2022-08-19 06:39] ottokruse commented on #78
Hi John. The JWT is just verified once actually. The array you pass in, is turned into a hash map of issuer configurations, where issuer is the key. During verification, using the issuer (`iss`) from the JWT payload, the right config is loaded from the hash map.

[2022-08-20 22:08] johnhartman commented on #78
Thanks for the quick response. Was actually wondering about the order that
the tokens are decoded, or are they decoded in parallel? Here's the deal:
I'm on a project replacing a well-known identity provider with Cognito. New
API calls will handle the old provider's tokens if the tokens fail to
decode via cognito. Therefore I'd like to decode via cognito first, then
fall back to the old provider. D

[2022-08-20 23:02] dax-hurley opened #82 "[FEATURE REQUEST] Ability to decode unverified token?"
**Question**
Many other JWT libraries have a concept of a 'decoder' which lets you preview the claims  being made in a JWT before verifying them. In my case, I am building a multi-tenant application with many different user pools for the different tenants. I want to extract the user pool id from the issuer claim in the token and use that to look up information about the tenant the user is making t

[2022-08-22 06:52] ottokruse commented on #78
Hi John, if you use the multi-verifier from this library, your JWT will be decoded and verified once.

The lib will look at your JWT's `iss` claim. Cognito will put a different `iss` in the JWTs than your old provider. So by looking at the `kid` claim the library will know which __one__ of the issuer configurations (that you provided as an array) to use.

Does that make sense?

[2022-08-22 07:15] ottokruse commented on #82
Thanks for opening the discussion!

Our thinking has been to not add this, because we want to prevent users from accidentally using that `decode` function where they should actually intend to call `verify`. Not all users are JWT experts, or even that great in the English language, it's easy to become confused. (This infamously happened with a very well known JWT verification lib out there)

We cou

[2022-08-22 07:16] ottokruse commented on #73
Closing for now, feel free to add React Native use cases and we'll re-open.

[2022-08-22 07:16] #73 closed

[2022-08-22 10:49] ottokruse commented on #82
Also, would be good to understand your user case. Why do you want this, what is your scenario? (Especially, since unverified JWTs cannot be trusted).

[2022-08-24 04:44] dax-hurley commented on #82
Thank you for the code snippets as those will be very helpful.

The application I am building is multi-tenanted with a 1 to 1 relationship between tenants and Cognito user pools (so each tenant has their own unique and isolated user pool). Basically, I want to extract the user pool id and client id from the token to use to lookup which tenant the user is trying to make a request for and then, afte

[2022-08-24 04:51] dax-hurley commented on #82
The broader use case would be situations where you need to refer to values in the token for application logic before verification takes place, most commonly to decide _how_ the token will be verified. In my architecture, I don't know the user pool id or client id ahead of time, so I need use the information in the token to figure that out before I'm even verify, I think there are other similar sce

[2022-08-24 08:46] ottokruse commented on #82
You're very welcome.

Thanks for the info, have a couple of follow up questions:

- Is it an option for you to create the JWT verifier with multiple user pools: https://github.com/awslabs/aws-jwt-verify#trusting-multiple-user-pools Would that solve your issue too?
- What is the ballpark figure for the nr of tenants, and growth rate, you want to support?
- Do you even know the list of User Pool IDs

[2022-08-25 02:52] dax-hurley commented on #82
Unfortunately not as it would require knowing the user pool ids ahead of time in the code and would not scale to many tenants.

I would like to _eventually_ be able to scale up to hundreds of tenants, although I expect only a dozen or so initially. I am also trying to avoid a situation where my tenants are defined by information in the repo as I prefer them to be defined at a persistence layer lev

[2022-08-25 09:05] ottokruse commented on #82
Thanks that's very helpful!

I believe your feature request could then be translated in:

- Support creating verifier without knowing upfront the list of user pool IDs and client IDs
- So, somehow support dynamic lookup of these (with intelligent caching so you only do such a lookup if you see a new `iss` come by that you didn't see before)

I we support that (which by the way seems fair and will

[2022-08-25 15:31] dax-hurley commented on #82
That is correct!

One thing I do want to point out though that you of course don't want to allow the user to simply trust whatever user pool id is passed in the JWT without also having some mechanism to verify that the user pool itself can be trusted. Otherwise an attacker could simply create a new user pool in their own AWS account One option would be to specify that user pool belongs to an accou

[2022-08-26 06:37] ottokruse commented on #82
Yes, totally agree.

Thanks for all the information. I think it's pretty clear what is needed, we'll sync with the team and see when we'd get to this.

[2022-08-26 14:29] romankurnovskii opened #84 "[QUESTION] Module parse failed: Unexpected token (260:61)"
**Question**
Facing an issue using react

**Versions**
- `aws-jwt-verify`version: 3.1.0
- react version: 18.2 (.js), in typescript version works
- react from: `npx create-react-app my-app`
- node: 17
- browser: chrome

[code]

[2022-08-31 14:01] rdkls commented on #71
Hi @hakanson some more info, the padding does seem to be the only issue.

There's a thread from 2020 on it here https://github.com/auth0/node-jws/pull/84

I tried `jose` and it does validate these tokens, discussion here: https://github.com/panva/jose/discussions/30

https://github.com/panva/jose

[2022-09-04 00:52] SethO commented on #69
Currently produces this error if you run this library in Jest tests with either `esbuild-jest` (v0.5.0) or `@swc/jest` (v0.2.22). I imagine both are tied to versions of esbuild that are incompatible.

[2022-09-10 21:39] CaerusKaru opened #87 "[BUG] Library forces presence of optional "use" field in JWKS key"
**Describe the bug**
If you have a JWKS with a key without the use field, the library will throw and error because it is missing. This violates [the spec](https://www.rfc-editor.org/rfc/rfc7517#section-4.2) on this, which states that `Use of the "use" member is OPTIONAL, unless the application requires its presence.`, which I believe means this should not be on the library side to enforce, and sho

[2022-09-12 08:35] ottokruse commented on #84
Hi @romankurnovskii I can't reproduce this.

I did:

- `npx create-react-app my-app`
- `npm i aws-jwt-verify`
- Edit App.js and add import (see code below)
- Run `npm start` and `npm run build` All works fine.

Might be a versions thing. Perhaps clear your `npx` cache and run create-react-app again?

[code]

[2022-09-12 08:38] ottokruse commented on #87
Thanks for the message, we'll consider this and reach out to you.

A work around, might you be interested:

[code]

[2022-09-12 08:40] CaerusKaru commented on #87
Way ahead of you on the workaround (works perfectly), but thanks for posting that here, in case someone else needs it. I would've posted mine, but again, internal stuff 😄

[2022-09-12 16:00] F43nd1r opened #88 "[BUG] Could not resolve "#node-web-compat""
**Describe the bug**
I'm facing another version of #66 in combination with yarn berry and esbuild.
Build fails with

[code]

Workaround is to use a different linker mode in yarn, e.g. pnpm

**Versions**
Which version of `aws-jwt-verify` are you using? ^3.1.0
Are you using the library in Node.js or in the Web browser? Node.js
If Node.js, which version of Node.js are you using? (Should be at least 1

[2022-09-12 22:20] ryantomaselli opened #89 "Validating that the Identity ID passed in an open ID token matches an identity in the specified Identity Pool"
Hey guys; thanks for this very useful library!

**Question**
I am currently using an Cognito Identity Pool to handle users that haven't been authenticated yet. The app is a multi-tenanted app with each tenant having its own User Pool and Identity Pool.

I currently generate the token on the client side like so:

[code]

When I decode the token in my Lambda Authorizer it looks like so:
[code]
The *

[2022-09-13 06:30] ottokruse commented on #89
To verify an identity pool JWT you would follow the usual JWT verification steps such as: check signature is valid, check not expired, check `iss` is what you expect, check `aud` is what you expect. These steps are all carried out for you by the `JwtRsaVerifier` from `aws-jwt-verify`. (You can't use the `CognitoJwtVerifier` as that is for User Pool JWTs, not Identity Pool JWTs)

Checking that the

[2022-09-13 14:17] ottokruse commented on #88
Indeed a variant (or duplicate) of #66

`aws-jwt-verify` uses subpath imports which unfortunately has flaky support in various tools and libs (looking at you jest). Although esbuild has supported it since version 0.13.9 (see https://github.com/evanw/esbuild/issues/1691)

[code]

The culprit must be the specific interplay of yarn with esbuild, concerning subpath imports. My stack trace shows:

[cod

[2022-09-13 16:03] F43nd1r commented on #88
reported to esbuild as https://github.com/evanw/esbuild/issues/2545, will keep you updated if it affects this package.

[2022-09-13 17:27] F43nd1r commented on #88
Found out it is a missing feature in yarn https://github.com/yarnpkg/berry/issues/3843. I'll close this as I expect it to work once that is implemented.

[2022-09-13 17:27] #88 closed

[2022-09-19 14:56] ryantomaselli commented on #89
@ottokruse thanks for this detailed response...it clears things up and certainly helps.

Cheers

[2022-09-19 14:56] #89 closed

[2022-09-20 16:05] ottokruse commented on #84
Closing for now, let us know if the issue persists.

[2022-09-21 09:23] ottokruse commented on #87
Can't locate you to DM you @CaerusKaru  Please share your alias or ping me?

[2022-09-27 22:01] pschwyter commented on #71
Just ran into this as well, using ALB with Cognito.

In case you want *another* solution (using jsonwebtoken): https://github.com/auth0/node-jsonwebtoken/issues/514#issuecomment-461100470

Basically the solution side steps the encoding issue by splitting up responsibilities:
1. Use [jws](https://github.com/auth0/node-jws) to verify the signature and payload
2. Convert the base64 encoded token to b

[2022-09-29 21:12] mrienstra commented on #88
[yarnpkg/berry#3843](https://github.com/yarnpkg/berry/issues/3843) was fixed yesterday. The fix is available in `4.0.0-rc.22`. Run [`yarn set version canary`](https://yarnpkg.com/cli/set/version) if you want to try it. v4 release is still a little ways off ("may take a couple more months"), but:

... according to https://github.com/yarnpkg/berry/discussions/4895

See https://github.com/yarnpkg/ber

[2022-10-11 08:47] johnhartman commented on #78
TL;DR: ignorant me :)

Didn't realize that parts 0 and 1 are not encrypted, just base64'ed. So was
thinking decrypting was required to determine who issued the token. All is
good now. Thank you for helping me.

best,
John
510.206.5846 (mobile)

On Sun, Aug 21, 2022 at 11:52 PM Otto Kruse ***@***.***>
wrote:

[2022-10-12 16:03] hakanson commented on #82
I've been looking at this while thinking about the Amazon Cognito Developer Guide [Multi-tenant application best practices](https://docs.aws.amazon.com/cognito/latest/developerguide/multi-tenant-application-best-practices.html)

I look at other options in `CognitoVerifyProperties` like `clientId` and `groups` and wonder how to best dynamically pass in these values in addition to `userPoolId` since

[2022-10-16 19:29] sandorduba opened #90 "Error: verifier.verify requires opts, but it is not required in docs. "Expected 2 arguments, but got 1""
Hi,
I'm trying to use this library in a brand-new Angular application to parse tokens.
[code]

<img width="939" alt="Screenshot 2022-10-16 at 21 19 34" src="https://user-images.githubusercontent.com/28736823/196053819-f88aba16-f235-4f18-a0f5-0aaf677df08a.png">

This isn't mentioned in any docs.

[2022-10-16 19:38] sandorduba commented on #90
I downgraded the library to `2.0.0` and it works, but the versions above all require the opts.

[2022-10-17 07:22] ottokruse commented on #90
Web compatibility was added in v3.0.0 so if using in Angular stay at or above 3.

It seems you're running into a typing issue. If you don't specify `tokenUse` and `clientId` at verifier level, you must provide them in the options, the 2nd argument in the `verify` call. This is how it is supposed to work and TypeScript typings enforce this.

But you *have* defined both `tokenUse` and `clientId` at

[2022-10-18 07:48] ottokruse commented on #82
I like that idea.

So instead of providing the config beforehand, one could provide an async function that returns the verify properties (userPoolId, clientId, etc). We'd call that function then, and await it's result, on every verify call. (Won't work for verifySync)

In our implementation we store these properties in `issuerConfig` that we access synchronously in various places. Would have to ch

[2022-10-20 20:13] sandorduba commented on #90
Maybe. I want to save the verifier on the class level and I tried to give it a type. what should be the proper type of the `verifier`?

[2022-10-25 08:11] ottokruse commented on #90
There's separate types for single-user-pool verifier and multi-user-pool verifier.

Easiest is to use the utility types from `aws-jwt-verify/cognito-verifier`:

[code]

[2022-10-26 01:01] wz2b opened #93 "verify() function"
This is more of a typescript question than anything, but I encountered this in aws-jwt-verify and I want to understand what it means when you declare a method parameter as ` ...[a, b]: SomeType`

I'm also not entirely sure why this method is generic - what is the purpose of the type parameter T?

Would somebody mind pointing me toward some documentation?  I have been searching, but those are hard

[2022-10-26 01:23] wz2b commented on #93
Extending that question, am I close here?  And do my names for these types make any sense?
[code]

[2022-10-26 09:06] ottokruse commented on #93
Here's some background first.

This lib uses some TypeScript magic (/shenanigans) to a.o. alert users to properly supply the required verification properties either at verifier level upon calling `create`, or later upon calling `verify`.

Notably, if you `create` the verifier without specifying e.g. `clientId` the TypeScript types will enforce that you must then provide `clientId` upon calling `ve

[2022-10-29 00:16] mrienstra commented on #88
Update: the fix that adds support for the `package.json` `includes` field is also in the [Yarn `3.2.4` release](https://github.com/yarnpkg/berry/releases/tag/%40yarnpkg%2Fcli%2F3.2.4).

[2022-10-31 10:17] jamesnight1994 opened #95 "[BUG] node_modules/aws-jwt-verify/cognito-verifier.d.ts:95:42 - error TS1005: ',' expected."
**Describe the bug**
Instantiating Cognito JWT Verifier  like so...

[code]

... gives me the following error.
[code]
**Versions**
"aws-jwt-verify": "^3.2.0",
 Node.js: v18.7.0

[2022-10-31 13:22] ottokruse commented on #95
What's your TypeScript version?

`npx tsc -v`

[2022-10-31 13:26] jamesnight1994 commented on #95
Hello @ottokruse its `Version 3.9.9`

[2022-10-31 13:28] ottokruse commented on #95
OK that's 0.0.1 too short ;) You need at least 4.0.0 to use this lib

[2022-10-31 13:38] #95 closed

[2022-11-04 18:13] ottokruse commented on #93
Did that help @wz2b ?

[2022-11-04 18:44] wz2b commented on #93
YES!  Very much!  And I am glad you pinged me about this again because for some reason I missed the notification that you responded 9 days ago.  Sorry about that, but thank you!!!

[2022-11-04 18:44] #93 closed

[2022-11-04 18:56] wz2b commented on #93
I don't feel expert enough to add documentation and submit a PR yet, but let me get all this working and then I'll think about it!

[2022-11-09 07:54] ottokruse commented on #90
Closing for now

[2022-11-09 07:54] #90 closed

[2022-11-15 07:56] ottokruse commented on #82
FYI turns our we *do* have a decode-like function, be it a little hidden:

[code]

Ideally you would not need to call this yourself though (danger! you're looking at an unverified JWT, trust nothing in it!), so the above discussion and proposed solution direction still stands.

[2022-11-25 00:50] Mickaz89 opened #98 "[BUG] CognitoJwtInvalidTokenUseError: Token use not allowed: id. Expected: access"
**Describe the bug**
[code]
Getting this error "JwtInvalidScopeError: Missing Scope. Expected: read"

[code]
Getting this error "CognitoJwtInvalidTokenUseError: Token use not allowed: id. Expected: access"

[2022-11-25 07:33] ottokruse commented on #98
Looks like you're passing in the ID token and not the Access token?

[2022-11-25 08:07] Mickaz89 commented on #98
@ottokruse I am taking the token from the headers of the event like this
` const authToken = event.headers['Authorization'];`
I am using the aws-serverless-express/middleware library to have access to the event object like this :
`app.use(awsServerlessExpressMiddleware.eventContext())`
So i can have acces to the object in
`const event = req.apiGateway.event;`

[2022-11-28 22:10] yaroslavkrutiak opened #99 "[QUESTION]"
**Question**
How can we help you?

Im trying to use verifyJwt function at aws-jwt-verify/jwt-rsa

When I run unit test it just show me this
Maybe you can help me to figure out what i am doing wrong, or you say what you'd rather use when you need to verify jwt from user pool and identity pools at same time
<img width="677" alt="Screenshot 2022-11-29 at 00 06 17" src="https://user-images.githubuserc